nav {
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    padding: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav > p{
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
}
nav > p a{
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
}

nav ul li{
    list-style: none;
    margin: 8px;
    font-size: 1.2em;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

